<div class="jumbotron text-center">
    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" class="form-control" name="username" ng-model = "username" placeholder="Email Address" required="" autofocus="" />
            <input type="password" class="form-control" name="password" ng-model = "password" placeholder="Password" required=""/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click = "login()">Login</button>
        </form>
    </div>
</div>