<div class="jumbotron text-center">
    <div align="center">
        <p>
            <label> Parsed idToken from the Cognito is </label>
        </p>
        <table>
            <tr ng-repeat="(key,value) in parsedAccessToken">
                <td><b>{{key}} -> </b></td>
                <td>{{value}}</td>
            </tr>
        </table>
    </div>
</div>